<aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="">
          <a href="/home" class="">
                        <i class="fa fa-user"></i>
                        <span>Gestion adhérent</span>
                    </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" class="">
                        <i class="icon_document_alt"></i>
                        <span>Gestion entraineur</span>
                        
                    </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" class="">
                        <i class="icon_desktop"></i>
                        <span>Gestion planning</span>
                        
                    </a>
      
        </li>
        <li>
          <a class="" href="widgets.html">
                        <i class="icon_genius"></i>
                        <span>Gestion activité</span>
                    </a>
        </li>
        

      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  
