
<router-outlet></router-outlet>

<!-- <app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<section id="main-content">
  <section class="wrapper">
<router-outlet></router-outlet>
</section></section> -->

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" >
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/adherent">adherent</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
<router-outlet></router-outlet> -->
<!-- main app container -->
<!-- <div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <app-alert></app-alert>
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div> -->
