<a class="btn btn-success" routerLink="home/addadherent"><i class="fa fa-plus"></i>Ajouter adherent</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">nom</th>
        <th scope="col">prenom</th>
        <th scope="col">tel</th>
        <th scope="col">dateNaissance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of adherent">
        <td>{{a.id}}</td>
        <td>{{a.nom}}</td>
        <td>{{a.prenom}}</td>
        <td>{{a.tel}}</td>
        <td>{{a.date_de_naissance}}</td>
        <td><button id="submit" class="btn btn-outline-info" [routerLink]="['home/updateadherent/',a.id]"><i class="fa fa-edit"></i>modifier</button>&nbsp;
        <a class="btn btn-outline-danger" (click)="deleteadherent(a.id)"><i class="fa fa-trash"></i> supprimer</a></td>
       

      </tr>
    </tbody>
  </table>
  
